/*STYLE SHEET FOR contact_page.HTML*/

body { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(33, 104, 236);
    font-size: 20px
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: rgb(33, 104, 236);
    font-weight: 300;
}

form h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(33, 104, 236);
    font-weight: 200;
}

main {
    text-align: center; text-align: right; text-align: justify;
}

img {
    margin-top: 450px;
    margin-left: 700px;
    
}
